@font-face {
  font-family: OpenSans;
  src: url(fonts\OpenSans-Regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts\OpenSans-Bold.woff);
  font-weight: bold;
}
* {
  font-family: OpenSans, Arial;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.menu {
  display: none;
}
.header {
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 640px;
  background-color: #7e6f6f;
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 2;
}
.header-box {
  position: relative;
  z-index: 3;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .header-box {
    justify-content: center;
  }
  .main-content,
  .side-bar,
  .footer-container {
    display: block;
    width: 330px;
  }
  .product-list {
    width: 330px;
  }
  .article-card {
    position: relative;
  }
  .article-card:nth-child(n + 2)::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #eeeeee;
    z-index: 2;
    left: 0;
    right: 0;
    top: -34px;
    height: 3px;
  }
  .article-image {
    width: 330px;
  }
  .side-bar {
    margin-left: auto;
    margin-right: auto;
  }
}
.header-logo {
  min-width: 270px;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  padding-top: 40px;
}
.main-content, .product-list,
.footer-container {
  margin-left: auto;
  margin-right: auto;
}
 
.trend-list,
.search,
.subscription-section,
.tags-list,
.side-new-post-list,
.topics-list {
  margin-bottom: 45px;
}
.trend-list-name {
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.trend-list-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.trend-card {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #eff6f1;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.trend-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #606260;
  opacity: 0.6;
  z-index: 2;
}
.trend-post-info {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  z-index: 3;
  border: 2px solid #847850;
  padding: 20px;
  flex-basis: 360px;
}

.trend-card .post-name-big a {
  color: #ffffff;
}
.card-1 {
  background-image: url("../images/trend1.jpg");
}
.card-2 {
  background-image: url("../images/trend2.jpg");
}
.card-3 {
  background-image: url("../images/trend3.jpg");
}
.card-4 {
  background-image: url("../images/trend4.jpg");
}

.article-card:nth-child(n + 2) {
  margin-top: 60px;
}

.post-info {
  font-size: 15px;
  line-height: 22px;
  margin-left: 0;
}

.post-name-big a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}
.post-name-big a:hover {
  color: #b59f5b;
}
.tags a {
  color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.tags a:hover,
.product-info a:hover {
  text-decoration: underline;
}
.tags > li {
  display: inline-block;
  margin-right: 18px;
}

.tags {
  padding-left: 0;
  padding-top: 0;
  margin-left: 0;
}
.author {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}
.article-date {
  color: #888888;
  margin-right: 15px;
  padding-top: 0;
  font-size: 12px;
}
.author span {
  font-weight: bold;
}

.new-post {
  display: flex;
  height: 70px;
}
.new-post:nth-child(n + 2) {
  margin-top: 20px;
}
.new-post-image {
  width: 70px;
}
.post-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.post-name a:hover {
  color: #b59f5b;
}
.post-name a {
  color: #000000;
}
.section-name {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 16px;
}
.new-post-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.side-new-post-list {
  margin-top: 45px;
}
.side-post-info {
  margin-left: 18px;
  margin-top: -6px;
}
.search {
  display: flex;
  flex-wrap: nowrap;
}
.field:focus {
  outline: 1px solid #b59f5b;
}
ul {
  -moz-user-disabled: none;
}
input,
.search-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline-style: none;
  height: 50px;
}
input {
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 100%;
  padding-left: 20px;
}

.search {
  position: relative;
}
.search input {
  width: 100%;
}
.search-button {
  padding-left: 0;
  margin-left: 0;
  padding-top: 0;
  margin-top: 0;
  min-width: 50px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.search-button:hover,
.subscription-button:hover,
.product-button:hover {
  background-color: #000000;
}
.search-button-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.subscription-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.subscription-button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  margin-top: 17px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
.tags-list-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.tags-list > li {
  display: inline-block;
  flex-wrap: wrap;
  border: solid 3px #eeeeee;
  padding: 7px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tags-list > li:hover {
  border: solid 3px #b59f5b;
}
.tags-list a {
  color: #0f0d0e;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.topics-list-name {
  margin-bottom: 25px;
}
.topics-list-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.topics-list {
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
  margin-left: 0;
}
.topics-list sup {
  color: #b59f5b;
  padding-left: 5px;
}
.topics-list li {
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
.topics-list a {
  color: #000000;
}
.topics-list a:hover {
  color: #b59f5b;
}

h3 {
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
}
.product-list-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.product-list-item {
  padding: 25px;
  font-size: 15px;
  line-height: 22px;
  position: relative;
}
.product-list-item:first-child {
  padding-top: 0;
}
.product-info {
  margin-top: 25px;
}
.product-info a {
  color: #b59f5b;
}
.product-footer {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: flex-end;
  
}
.product-prices {
  font-weight: bold;
}
.product-prices span {
  display: flex;
}
.old-price-product {
  text-decoration: line-through;
  font-size: 14px;
}
.new-price-product {
  font-size: 20px;
}
.product-button {
  border: none;
  background-color: #b59f5b;
  padding: 18px 30px;
  text-transform: uppercase;
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: OpenSans;
}
.product-list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 255px;
  border: 3px solid #d3c59d;
  z-index: 2; 
}

.footer-container {
  display: flex;
  margin-bottom: 73px;
  margin-top: 64px;
}
.widget-socials {
  display: flex;
  height: 83px;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  width: 100%;
}
.widget-socials a {
  margin: 0 12px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.twitter {
  background: url("../svg/004-twitter.svg");
}
.pinterest {
  background: url("../svg/001-pinterest.svg");
}
.facebook {
  background: url("../svg/002-facebook-logo.svg");
}
.instagram {
  background: url("../svg/005-instagram.svg");
}
.tumblr {
  background: url("../svg/003-tumblr.svg");
}
.widget-socials-description {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
}
.copyright {
  text-align: center;
  min-width: 210px;
}
.copyright a {
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  text-align: center;
}
@media (min-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
    max-height: 450px;
    font-size: 13px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    width: 100%;
  }
  .header-box,
  .footer-container,
  .main-content,
  .product-list {
    width: 1170px;
  }

  .header-box {
    justify-content: space-between;
  }
  .header-logo {
    min-width: 180px;
  }
  .menu-list > li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    justify-content: space-between;
    right: 0;
  }
  .menu-list > li:hover {
    text-decoration: underline;
  }
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-link {
    color: #ffffff;
  }
  h1 {
    width: 710px;
    font-size: 45px;
    line-height: 75px;
    padding: 0;
    transform: translate(0, -70%);
  }
  .main-content {
    display: flex;
    padding: 64px 15px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .trend-list {
    display: flex;
    flex-wrap: wrap;
  }
  .trend-card {
    height: 320px;
    max-width: 24.7%;
  }
  .trend-card:nth-child(n + 2) {
    margin-left: 0.33%;
  }
  .article-card {
    display: flex;
    min-width: 780px;
  }
  .post-name-big a {
    font-size: 20px;
    line-height: 24px;
  }
  .article-image {
    width: 381px;
  }

  .post-info {
    margin-left: 30px;
  }
  .tags {
    margin-top: -6px;
  }
  .author {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .side-bar {
    min-width: 270px;
    max-width: 330px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section-name {
    font-size: 14px;
  }

  .side-new-post-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .new-post-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }
  .search,
  .subscription-section,
  .tags-list,
  .side-new-post-list {
    margin-bottom: 60px;
  }
  .product-list-name,
  .trend-list-name {
    font-size: 20px;
  }
  .product-list {
    display: flex;
  }
  .product-list-item {
    box-sizing: border-box;
    width: 33%;
  }
  .product-list-item:nth-child(3n + 1) {
    margin-right: 62px;
  }
  .product-list-item:nth-child(3n + 3) {
    margin-left: 62px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    max-height: 390px;
  }
  .header-box {
    justify-content: space-between;
    flex-basis: 698px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 35px;
    width: 100%;
  }
  .header-logo {
    min-width: 160px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 40px;
    line-height: 55px;
    transform: translate(0, -50%);
  }
  .trend-list {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-card {
    min-width: 49.7%;
    max-width: 49.7%;
    margin-bottom: 4px;
  }
  .trend-card:nth-child(2n + 2) {
    margin-left: 4px;
  }
  .side-new-post-list,
  .search,
  .subscription-section,
  .tags-list {
    margin-bottom: 60px;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
  }
  .main-content,
  .footer-container {
    width: 698px;
    padding: 50px 35px;
    margin: 0 auto;
  }
  .article-card:nth-child(n + 2) {
    margin-top: 65px;
  }
  .article-card {
    position: relative;
  }
  .article-card:nth-child(n + 2)::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #eeeeee;
    z-index: 2;
    left: 0;
    right: 0;
    top: -44px;
    height: 3px;
  }

  .author {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .side-bar {
    min-width: 270px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .side-new-post-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 698px;
  }

  .product-list-item {
    width: 50%;
    box-sizing: border-box;
  }
  .product-list-item:nth-child(odd) {
    margin-right: 11px;
  }
  .product-list-item:nth-child(even) {
    margin-left: 11px;
  }
}
